.filePicker {
  outline: none;
  padding: 4px;
  margin: -4px;
  position: relative;
  width: 50%;
}

.filePicker::before {
  top: 12px;
  position: absolute;
  pointer-events: none;
  left: 32px;
  color: #f3f4f5;
  content: 'Вибери фотки';
}

.filePicker::file-selector-button {
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: rgb(94, 88, 102);
  border-radius: 3px;
  vertical-align: middle;
  background-color: rgb(94, 88, 102);
  cursor: pointer;
  border-style: none;
  margin-right: 3rem;
}

.filePicker::file-selector-button:hover {
  background-color: rgb(94, 88, 102, 0.8);
}

.filePicker::file-selector-button:active {
  background-color: rgb(114, 90, 141);
}

.filePickerSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.imageList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.thumbnailDiv {
  position: relative;
}

.removeButton {
  box-sizing: border-box;
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: rgb(221, 200, 200);
  color: rgb(66, 63, 66);
  padding: 3px 0 0 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  font-size: 17px;
  font-weight: bolder;
}

.removeButton:hover {
  background-color: rgb(233, 135, 140);
  cursor: pointer;
}
