.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.navbar a {
  text-decoration: none;
}

.logout {
  border-radius: 4px;
  font-weight: 600;
  font-size: large;
  padding: 4px 6px;
  color: #fff !important;
}

.logout::after {
  max-width: 100%;
  height: 2px;
  display: block;
  content: '';
  background: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
  opacity: 1;
  margin-bottom: -6px;
  margin-top: 1px;
}

.sectionsBar {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.sections {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.navLink,
.activeLink,
.logoutLink {
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: #f7f2f2;
  border-radius: 3px;
  vertical-align: middle;
}

.navLink {
  background-color: rgb(82, 83, 88, 0.7);
}

.navLink:hover {
  background-color: rgb(82, 83, 88, 0.9);
}

.activeLink {
  background-color: rgb(82, 83, 88);
  cursor: default;
}

.logoutLink {
  background-color: rgb(68, 55, 85);
  cursor: pointer;
}
