.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
}

.navbar a {
  text-decoration: none;
}

.logout {
  border-radius: 4px;
  font-weight: 600;
  font-size: large;
  padding: 4px 6px;
  color: #fff !important;
}

.sectionsBar {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.sections {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.navLink,
.activeLink,
.logoutLink {
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: #f7f2f2;
  border-radius: 3px;
  vertical-align: middle;
}

.navLink {
  background-color: rgb(88, 89, 94);
}

.navLink:hover {
  background-color: rgb(82, 83, 88);
}

.activeLink {
  background-color: rgb(68, 63, 75);
  cursor: default;
}

.logoutLink {
  background-color: rgb(68, 55, 85);
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .sectionsBar {
    display: none;
  }
}
