.inputDiv {
  margin-bottom: 1rem;
}

.textInput,
.textInputError {
  font-size: 0.9em;
  color: rgb(94, 88, 102);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 3px;
  outline: none;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  font-family: inherit;
}

.textInputError {
  background-color: #dd9cb6;
}

.textInput::placeholder {
  color: rgb(189, 187, 192);
}

.textInputError::placeholder {
  color: #cb4278;
}

.submitButton,
.cancelButton {
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: #f7f2f2;
  border-radius: 3px;
  vertical-align: middle;
  background-color: rgb(94, 88, 102);
  cursor: pointer;
  border-style: none;
}

.submitButton:active,
.cancelButton:active {
  background-color: rgb(114, 90, 141);
}
.cancelButton {
  background-color: rgb(141, 130, 153);
  margin-left: 1rem;
}

.submitButton:hover {
  background-color: rgb(117, 113, 124);
}

.cancelButton:hover {
  background-color: rgb(155, 83, 111);
}

.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 0.9rem;
  color: rgb(94, 88, 102);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #ffffff;
  border-radius: 3px;
}

.checkboxContainer:hover input ~ .checkmark {
  background-color: #7b7a7c;
}

.checkboxContainer input:checked ~ .checkmark {
  background-color: #7b7a7c;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkboxContainer .checkmark:after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mainSection {
  display: flex;
  gap: 2rem;
}

.section1 {
  width: 40%;
}

.section2 {
  width: 60%;
}

@media screen and (orientation: portrait) {
  .mainSection {
    flex-wrap: wrap;
  }
  .section1,
  .section2 {
    width: 100%;
  }
}
